<section class="blog">
  <div class="container section-container">
    <h1>Blog</h1>
    <%= render :partial => "shared/blog" %>
    <%= render :partial => "shared/blog" %>
    <%= render :partial => "shared/blog" %>
  </div>
</section>