<section class="blog">
  <div class="container section-container">
    <h1 class="light-green-text">Blog</h1>
    <%= render :partial => "shared/blog" %>
    <%= render :partial => "shared/blog" %>
    <%= render :partial => "shared/blog" %>
  </div>
</section>