<footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">University of Melbourne Information Security Club</h5>
          <p>If you would like to get in contact with us, please send us a message through one of the following social media platforms: </p>
          <a href="https://www.facebook.com/uomisc/" target="_blank">Facebook</a><br />
          <a href="https://www.linkedin.com/in/misc-admin-27494a169/" target="_blank">LinkedIn</a>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="/about">About Us</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="/blog">Blog</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="/events">Events</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        UMISC © 2018
      </div>
    </div>
  </footer>