<div class="navbar-fixed">
    <nav class="grey darken-4">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">UMISC</a>
          <a href="#" data-activates="mobile-nav" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/events">Events</a>
            </li>
            <li>
              <a href="/gallery">Gallery</a>
            </li>
            <li>
              <a href="/blogs">Blog</a>
            </li>
            <% if user_signed_in? %>
            <li>
              <%= link_to 'logout', destroy_user_session_path, :method => :delete, class: "btn light-green" %>
            </li>   
            <% else %>
            <li>
              <a href="/signup"><button class="btn light-green">Sign Up</button></a>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Sidenav -->
    <ul class="side-nav" id="mobile-nav">
      <li>
        <a href="#home">Home</a>
      </li>
      <li>
        <a href="#about">About Us</a>
      </li>
      <li>
        <a href="#events">Events</a>
      </li>
      <li>
        <a class="modal-trigger" href="#modal1">Join</a>
      </li>
      <li>
        <a href="#gallery">Gallery</a>
      </li>
    </ul>
  </div>

  