<div class="modal" id="modal1">

    <div class="modal-header center">
      <h3 class="light-green-text">Sign Up</h3>
    </div>

    <div class="modal-content">

      <form>

      <div class="input-field">
        <input id="name" type="text">
        <label for="name">Name</label>
      </div>

      <div class="input-field">
        <input id="email" type="email">
        <label for="email">Email</label>
      </div>

      <div class="input-field">
        <select>
          <option value="" disabled selected>Select Degree</option>
          <option value="1">Bachelor of Science</option>
          <option value="2">Bachelor of Arts</option>
          <option value="3">Bachelor of Commerce</option>
        </select>
        <label>Select Degree</label>
      </div>

      <div class="gender-selection"> 
        <p>Select Gender:</p>
        <p>
          <input type="radio" name="gender" id="male">
          <label for="male">Male</label>
        </p>
        <p>
          <input type="radio" name="gender" id="female">
          <label for="female">Female</label>
        </p>
        <p>
          <input type="radio" name="gender" id="other">
          <label for="other">Other</label>
        </p>
      </div>

      <div class="center signup-submit-button">
          <input type="submit" value="Submit" class="btn light-green">
      </div>

      </form>  
    </div>
</div>