<section class="about">
  <div class="container">
  <h1 class="light-green-text">What We Do</h1>
    <p>
    Club Aims

To promote/ facilitate the discussion of cyber-security pertaining to the modern state of technology and politics.
To legally and ethically improve the “offensive security” / “hacking” skills of the club’s participants in a practical manner.
To teach corporate network defence, mitigation and defensive security to members of the club.
To participate in “Capture the Flag” (CTF) competitions on behalf of the University.
To connect with industry professionals such as “red team”, “blue team”, journalists, engineers etc. through guest lectures.
To prepare club members with the skills and network required to pursue a career in Cyber Security.
    </p>
    <h1 class="light-green-text">Who We Are</h1>
    <div class="row">
      <table class="highlight responsive-table">
        <thead>
          <tr>
              <th></th>
              <th>President</th>
              <th>Secretary</th>
              <th>Treasurer</th>
              <th>Education Officer</th>
              <th>General Commitee</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><b>2017</b></td>
            <td>Tarnvir Grewal</td>
            <td>Abhineet Gupta</td>
            <td>Danish Bassi</td>
            <td>Kaif Ahsan</td>
            <td>Terence Denning, Takuhiro Kikuchi, Yunqiu Weng, Max Giammario</td>
          </tr>
        </tbody>
      </table>
    </div>

    
  </div>
</section>
