<section class="about center">
  <div class="container">
  <h1 class="light-green-text">About MISC</h1>
    <div class="about-section">
      <p>The University of Melbourne Information Security Club was first founded in 2017 by Thomas Wang, a University of Melbourne undergraduate student. The club was created with the intention of building a team for the upcoming CySca competition, an annual capture the flag competition (CTF) that pits Australian Universities against each other in a hacking competition. Since its inception, the club has become an inclusive community of like minded students who are working toward careers in the cybersecurity field or just looking to broaden their skillset. Our members come from many different academic backgrounds including the arts, science and commerce as our training sessions are designed to be beginner friendly.</p><br />
      <p>The goals of the club are to promote the discussion of cybersecurity topics and help members understand the complex ecosystem that surrounds the field of cybersecurity. With weekly training sessions, the club aims to develop members offensive cybersecurity skills by moving through progressively more challenging tasks and topics.</p><br />
      <p>The club also hosts many events throughout the calendar year. These events include social events where members are able to network with other cybersecurity students from neighbouring universities. Guest speaker presentations, where cybersecurity professionals tell us about what they do in their chosen field and give club members a better insight into potential career paths. The club also hosts capture the flag (CTF) competitions, where members are able to practice their hacking skills in a competitive environment with time constraints and prizes. </p>
    </div>
    <h1 class="light-green-text">Club Aims</h1>
    <ul class="club-aims">
      <li>To promote/ facilitate the discussion of cyber-security pertaining to the modern state of technology and politics.</li>
      <li>To legally and ethically improve the offensive security skills of the club’s participants in a practical manner.</li>
      <li>To teach corporate network defence, mitigation and defensive security to members of the club.</li>
      <li>To participate in “Capture the Flag” (CTF) competitions on behalf of the University.</li>
      <li>To connect with industry professionals such as “red team”, “blue team”, journalists, engineers etc. through guest lectures.</li>
      <li>To prepare club members with the skills and network required to pursue a career in Cyber Security.</li>
    </ul>
    <h1 class="light-green-text">Who We Are</h1>
    <div class="row">
      <table class="highlight responsive-table">
        <thead>
          <tr>
              <th></th>
              <th>President</th>
              <th>Secretary</th>
              <th>Treasurer</th>
              <th>Education Officer</th>
              <th>General Commitee</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><b>2017</b></td>
            <td>Tarnvir Grewal</td>
            <td>Abhineet Gupta</td>
            <td>Danish Bassi</td>
            <td>Kaif Ahsan, Yunqiu Weng (Cathy)</td>
            <td>Terence Denning, Takuhiro Kikuchi, Max Giammario</td>
          </tr>
        </tbody>
      </table>
    </div>

    
  </div>
</section>
