<div class="container">
      <h1 class="light-green-text">Events</h1>
      <div class="row">
        <% for i in 1..6 %>
          <%= render :partial => "shared/event" %>
        <% end %>
      </div>
</div>
