// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'materialize';

.section-container {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

a,
h2,
h1,
h5 {
  font-family: 'Roboto Mono', monospace;
}

.carousel .carousel-item {
  min-width: 350px !important;
}
